    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    }

    :root{
    --bg-primary: #F4F5FB;
    --bg-secondary: #FFFFFF;

    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;

    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;

    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;

    --font-family: 'Inter', sans-serif;

    --title: 800 24px/32px;
    --label: 700 16px/20px;
    --paragraph: 500 16px/20px;
    --link: 500 14px/16px;
    }

    body {
    background-color: var(--bg-primary);
    font-family: var(--font-family);
    }

    #container {
    width: 390px;
    height: 650px;

    margin: auto;
    }

    header {
    display: none;
    }

    main{
    margin: 34px 32px 170px 32px;
    }

    .btn-voltar{
    margin-bottom: 16px;
    color: var(--color-brand);
    border: none;
    background: none;

    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    }

    form h1{
    margin-bottom: 44px;
    font-size: 25px;
    color: var(--content-primary);
    }

    #itens {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
    }

   

    #itens input{
    height: 44px;
    width: 326px;
    border-radius: 12px;
    padding: 14px 16px;
    background-color: var(--bg-secondary);
    border: solid 1.5px var(--border-primary);
    outline: 0;

    font: var(--title);
    color: var(--content-tertiary);

    cursor: text;
    }
    input:hover{
    border: solid 2px var(--border-hover);
    }

    input:focus{
    border: solid 2px var(--color-brand);
}

    #itens button{
    height: 44px;
    width: 326px;
    border-radius: 12px;
    background-color: var(--color-brand);
    border: solid 1px var(--color-brand);
    cursor: pointer;

    font: var(--label);
    color: var(--always-white);

    }

    #itens button:hover{
    background-color: var(--color-brand-hover);
    }

    ul{
    list-style: none;
    margin-bottom: 36px;
    }

    #lista {
    display: flex;
    flex-direction: column;
    gap: 12px;
    }

    li{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding-left: 12px;
    height: 57px;
    width: 327px;
    font: var(--paragraph);
    color: var(--content-secondary);
    background-color: var(--bg-secondary);
    border: solid 1px var(--border-primary);
    border-radius: 12px;

    input{
    margin-left: 12px;
    vertical-align: middle;
    }

    span{
    color: var(--content-secondary);
    }

    }

    li span {
    flex-grow: 1; 
    margin-left: 12px;
    }

    .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--content-tertiary);
    font-size: 16px;
    margin: 12px 16px 12px 0;
    }

    input[type="checkbox"] { 
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(/assets/icons/checkbox.svg);
    background-repeat: no-repeat;
    background-position: left center;
    border: none;

    width: 16px;
    height: 16px;
    background-size: contain;
    
    }

    input[type="checkbox"]:hover {
    background-image: url(/assets/icons/hover.svg);
    }

    input[type="checkbox"]:checked {
    background-image: url(/assets/icons/selected.svg);
    }

    footer {
    display: none;
    }

    #alert {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: solid 1px red;
        background-color: var(--color-danger);
        height: 44px;
        width: 327px;
        font: var(--label);
        border-radius: 12px;
        
    }

    #alert ion-icon {
        font-size: 20px;
    }

    #alert span {
        display: flex;
        align-items: center;
        gap: 8px;
        font: var(--label);
        color: var(--always-white);
        padding-left: 18px;
    }

    #alert button {
        background: none;
        border: none;
        cursor: pointer;
        color: var(--always-white);
      
        display: flex;
        align-items: center;
        padding-right: 12px;
        font-size: 20px;
    }

    @media (min-width: 768px) {
   #container {
    width: 1366px;
    height: 768px;
    
    display: flex;
    flex-direction: column;

    }

    main{
        margin: auto;
    }

    header {
    display: flex;
    justify-content: center;
    margin-bottom: 62px;

    img {
    margin-right: 8px;
    }

    h1{
    font-size: 26px;
    }
}

#itens {
    flex-direction: row;
    gap: 12px;

}

    #itens input{
    width: 451px;
    }
    #itens button{
    width: 160px;
}

li{
    width: 627px;

    span{
    margin-left: 12px; 
}
}

input[type="checkbox"] { 
    width: 20px;
    height: 20px;
    background-size: contain;

    }

    input[type="checkbox"]:hover {
    background-image: url(/assets/icons/hover.svg);
    }

    input[type="checkbox"]:checked {
    background-image: url(/assets/icons/selected.svg);
    }

    #alert {
        width: 627px;
    }


}
