* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root{
    --bg-primary: #F4F5FB;
    --bg-secondary: #FFFFFF;

    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;

    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;

    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;

    --font-family: 'Inter', sans-serif;

    --title: 800 24px/32px;
    --label: 700 16px/20px;
    --paragraph: 500 16px/20px;
    --link: 500 14px/16px;
}